<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="MyGet - Redux.NET" value="https://www.myget.org/F/reduxnet/api/v2" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="MyGet - Redux.NET" value="https://www.myget.org/F/reduxnet/api/v2" />
  </activePackageSource>
</configuration>