<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid51" />
  <package id="Redux.NET" version="0.2.0" targetFramework="monoandroid5" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid51" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid51" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid51" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid51" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid51" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="monoandroid5" />
</packages>